/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

h1{
  font-family: 'Parisienne', cursive;
  font-size: 86px;
  color: white;
}

.bottom-title{
  width: 60vw;
  position: absolute;
  left: 20vw;
  bottom: 20px;
  text-align: center;
}

h3{
  font-family: 'Lora', serif;
  font-size: 32px;
  color: white;
}

h4{
  font-family: 'Parisienne', cursive;
  font-size: 32px;
  color: white;
}

h5{
  font-family: 'Lora', serif;
  font-size: 20px;
  font-style: italic;
}

h6{
  font-family: 'Lora', serif;
  font-size: 25px;
  font-style: bold;
  color: black;
}


.banner{
  background: image-url('background');
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
  position: relative;
}

.signup-button{
  padding: 11px 30px !important;
  font-size: 22px !important;
  position: relative;
  top: 190px;
  font-family: 'arial', sans-serif;
  box-shadow: 2px 2px rgba(37, 22, 5, 0.2);
  border-radius: 2px !important;
  border:1px solid white;
}

#services{
  background-color: #F1A852;
  text-align: center;
  padding-top: 70px;
  min-height: 100vh;
}

#services-text{
  padding: 20px 60px;
}

.card{
  max-width: 440px;
  margin-top: 10px;
  margin: 0 auto;
  padding: 15px;
}

.card-text{
  background-color: white;
  text-align: center;
  font-family: 'Lora', serif;
  box-shadow: 2px 2px 1px rgba(75, 62, 26, 0.5);
  padding: 20px 5px;
  margin-top: 20px;
  border-radius: 5px

}

.image-home{
  width: 410px;
  max-width: 92v;
  box-shadow: 2px 2px 1px rgba(75, 62, 26, 0.5);
  border-radius: 2px
}


